body{
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}
input{
    width: 300px;
    height: 35px;
    margin: 10px;
    padding: 5px 10px;
    font-size: 16px;
}

.btn{
    padding: 10px 40px;
    margin: 10px;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
}

.toplama{ background: #007bff; }
.cixma{ background: #dc3545; }
.vurma{ background: #28a745; }
.bolme{ background: #ffc107; color: black; }
