body {
    margin: 0;
    font-family: serif;
}

header {
    background-color: #7b3b16;
    color: black;
    text-align: center;
    font-size: 35px;
    padding: 50px 0;
}

nav {
    background-color: #d4aa6a;
    text-align: center;
    padding: 15px;
}

nav a {
    text-decoration: none;
    color: darkgreen;
    margin: 0 20px;
    font-weight: bold;
}

main {
    background-color: #d4aa6a;
    padding: 25px;
}

h2 {
    font-size: 26px;
}
