body {
    font-family: serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    text-align: center;
    width: 350px;
}

.icon {
    width: 120px;
    height: 120px;
    background-color: #b76a43;
    margin: 0 auto 20px;
    border-radius: 20px 20px 0 20px;
    background-image: url("truck-icon.png"); /* ikon şəkil istəsən qoy */
    background-repeat: no-repeat;
    background-position: center;
}

h2 {
    margin-bottom: 15px;
    font-size: 24px;
}

p {
    color: #444;
    line-height: 1.6;
}
