body {
    background: #eee;
    font-family: Georgia, serif;
}

.page {
    background: #fff;
    width: 850px;
    margin: 30px auto;
    padding: 40px;
}

h1 {
    font-size: 36px;
    border-bottom: 3px solid #333;
    padding-bottom: 5px;
}

.contact {
    text-align: right;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.box {
    width: 32%;
}

h2 {
    margin-top: 30px;
    border-bottom: 1px solid #ccc;
}
