body {
    margin: 0;
    background: #e2f0fc;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box {
    width: 400px;
    background: white;
    padding: 30px;
    border-radius: 5px;
}

.form-box input {
    width: 95%;
    padding: 10px;
    margin: 8px 0;
}

button {
    width: 100%;
    padding: 10px;
    background: #428cf4;
    border: none;
    color: white;
    cursor: pointer;
}
