body {
    margin: 0;
    background: #07d1d8;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background: white;
    padding: 30px;
    width: 300px;
    border-radius: 5px;
}

.login-box input {
    width: 95%;
    padding: 10px;
    margin: 8px 0;
}

button {
    width: 100%;
    padding: 10px;
    background: #f57f7e;
    border: none;
    cursor: pointer;
}

.error {
    background: #fdeccb;
    padding: 10px;
    margin-bottom: 10px;
    border-left: 4px solid orange;
}
